body{
	font-family: Open Sans;
	width: 100%;
	display: flex;
}

section{
	display: inline-block;
	background-color: #455A64;
	font-color: #FFFFFF;
	flex: 1;
	text-align: center;
}

section h1{
	display: inline;
	color: #FFFFFF;
	font-weight: 800;
	font-size: 30px;
	width: 100%;
}

header img{
	width: 18%;
	height: auto;
	margin: 0 5px 0 5px;
}

input{
	display: block;
	margin: 20px auto 20px auto;
	padding: 5px
	border: 0;
	width: 100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
}

.user-input{
	flex: 1 auto;
	max-width: 90%;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(0%, -50%);  
  transform: translate(0%, -50%);
  width: 95%;
}

.input-wrapper{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	position: relative;
}

#website-form {
	margin:0;
}

#error-display {
	color: red;
}

.url-list{
	background-color: #CFD8DC;
	font-color: #FFFFFF;
}

.enter-button{
	background-color: #FFC107;
	color: #FFFFFF;
	font-family: Open Sans;
	font-weight: 800;
	margin: 0px auto 18px auto;
	padding: 0;
	border-radius: 0;
	border: none;
	width: 100%;
	height: 18px;
}

.enter-button:hover{
	background-color: #FFD773;
}

.display-wrapper{
	text-align: center;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
	padding-top: 2%;	
}

.display-wrapper ul li {
	text-decoration: none;
}

.bookmark{
	width: 90%;
	border: 1px solid #607D8B;
	background-color: white;
	margin: auto;
}

.bookmark h3{
	display: block;
	border-bottom: 1px solid #CFD8DC;
	color: #455A64;
	width: 90%;
	margin: auto;
	padding: 10px;
	font-size: 30px;
	font-weight: 800;
	text-align: left;
}

.bookmark:hover > .user-supplied-link{
	text-decoration-color: #FFC107;
	font-weight: 800;
	color: #455A64;
}

.bookmark:hover .read-delete button{
	text-decoration: underline;
	text-decoration-color: #FFC107;
	color: #455A64;
}

.bookmark:hover .read-delete .left {
	font-weight: 800;
}

.user-supplied-link{
	border-bottom: 1px solid #CFD8DC;
	width: 92%;
	margin: 5px auto 5px auto;
	padding: 15px 0 15px 0;
	text-align: left;
	display: block;
	text-decoration-color: #F2F4F4;
}

.read-delete{
	width: 92%;
	margin: 10px auto 10px auto;
	overflow: hidden;
}

.read-delete button{
	border: none;
	background-color: transparent;
}

.read-delete button:focus{
	border: none;
	outline: 0;
	background-color: transparent;
}

.read-delete button:active{
	border: none;
	outline: 0;
	background-color: transparent;
}

.left{
	float: left;
	text-decoration-color: #F2F4F4;
}

.right{
	float: right;
}

.bookmark-read{
	background-color: #F2F4F4;
}

.user-supplied-link-read {
	text-decoration-color: #CFD8DC;
}

.left-read{
	color: #F05828;
}

@media all and (max-width: 640px) {
	body {
		flex-direction: column;
		}
	.input-wrapper {
		height: 35vh;
	}
	}
